<ul class="breadcrumb">
  <li><a ui-sref="home">Home</a></li>
  <li><a ui-sref="contact">Contact</a></li>
</ul>
<div class="divider"></div>

<div class="aboutcontainer">
    <p>Feel free to contact me about any question or comment that you have. I'm also willing to fulfill special orders or requests.</p>
    <br>
    <p> {{contact.name}} </p><b></b>
    <p> {{contact.line_1}} </p><b></b>
    <p> {{contact.line_2}} </p><b></b>
    <p> {{contact.email}} </p><b></b>
    <p> Tel: {{contact.phone}} </p><b></b>
</div>
