<div ng-controller="headerCtrl">
  <div class="logoheader" style="margin-left:10%">
  <div class="logodiv">
      <div class="logoimage">
      </div>

    </div>
  </div>
  <div class="menucontainer" >
    <div class="menubar">
      <a class="menu-links" ui-sref="home">Home</a>
      <a class="menu-links" style="margin-left:15px; " ui-sref="watercolors">Watercolors</a>
      <a class="menu-links" style="margin-left:15px; " ui-sref="temples">Temple Art</a>
      <a class="menu-links" style="margin-left:15px; " ui-sref="about">My Story</a>
      <a class="menu-links" style="margin-left:15px; " ui-sref="contact">Contact</a>
      
    </div>
  </div>

  </div>
