<div class="cartcontainer" ui-sref="cart" style="margin-bottom:15px;">
  <a class="menu-links" ui-sref="cart" ng-cloak> Cart {{cartnumber}} </a>
  <div class="cartIcon"></div>
</div>
<div class="divider" style="margin-top: 30px"></div>

<div class="homeheader"></div>

<!-- <div class="threeimages">
    <div class="box1"></div>
    <div class="box2"></div>
    <div class="box3"></div>
</div> -->



<div class="media" style="width: 33.33%; height: 33vh; display: inline-block; float: left; background: url(/images/box1.jpg); background-repeat: no-repeat;background-size: cover;	background-position: center center;">
  <div class="media__body" ui-sref="watercolors">
    <h1>Watercolors</h1>
    <p style="font-size: 12px;">Click here to see all of Debbie's watercolor paintings inspired by the world around her</p>
  </div>
</div>
<div class="media" style="width: 33.33%; height: 33vh; display: inline-block; float: left; background: url(/images/box2.jpg); background-repeat: no-repeat; background-size: cover;	background-position: center center;">
  <div class="media__body" ui-sref="temples">
    <h1 style="line-height: 100%">LDS Temple Paintings</h1>
    <p style="font-size: 12px;">Click here to see all of Debbie's watercolor paintings of LDS temples from around the world</p>
  </div>
</div>
<div class="media" style="width: 33.34%; height: 33vh; display: inline-block; float: left; background: url(/images/box3.jpg); background-repeat: no-repeat;background-size: cover;	background-position: center center;">
  <div class="media__body" ui-sref="about">
    <h1>My Story</h1>
    <p style="font-size: 12px;">Click here to learm more about Debbie and what inspires her</p>
  </div>
</div>
