<!-- individul temple pages -->
<div>
  <cartdirective></cartdirective>
  <ul class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="temples">Temple Art</a></li>
    <li style="font-size:16px;"><a> {{singleitem.name}} </a></li>
  </ul>
</div>
<div class="divider"></div>

<div class="templedetails">

  <div class="itemdetails">
      <div class="templename">
        <p style="font-size: 35px; margin-bottom: 15px; line-height: 100%;">
        {{singleitem.name}}
        </p>
        <b></b>
        <p style="margin-bottom: 15px;">
        {{singleitem.descript}}
        </p>
        <b></b>
        <p>
        {{price}}
        </p>
      </div>
      <div class="orderoptions">

          <select placeholder="Select Size" class="itemsizeselector" ng-options="size.size for size in sizes track by size.price" ng-model="size_option" ng-change="select_size()">
            <option value="" disabled>Select size</option>
          </select>
          <form class="quantityoption">
          Quantity:
          <input type="number" name="points" min="1" max="100" step="1" value="1" ng-model="quantity">
          </form>
      </div>
      <div style="height: 25px;">
        <p class="templename" ng-show="showMessage" style="margin-bottom:15px;">
          {{msg}}
        </p>
      </div>
      <button class="addtocartbutton" ng-click="addtocart();">Add to cart</button>
      <div style="margin-left: 15px; margin-top: 30px;">
        <p style="margin-bottom:5px; font-family: 'Montserrat'; font-size: 16px; color: #29388A; width:100%;"><b>Share this</b></p>
        <div class="social2">
          <a class="FB2" href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwatercolorsbrightandbeautiful.com%2F&amp;src=sdkpreparse'></a>          
          <!-- <a class="IG2"></a> -->
          <a class="PN2" href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"></a>
        </div>
      </div>
  </div>

    <img src="{{singleitem.imageurl}}" class="individualtemplesimage"/>


</div>
